html {
    background-color: #e0e0e0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #494949;
  }

body {
    width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 0 20px 20px 20px;
    border: 1px solid #494949;
  }

h1 {
    font-size: 50px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #000000;
  }